*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: repeating-linear-gradient(45deg, rgb(234, 236, 98) 0px, rgb(234, 236, 98) 180px, rgb(236, 98, 224) 220px, rgb(236, 98, 224) 400px);
  background-attachment: fixed;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.menu-container,
.about-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
  min-width: 500px;
  max-width: 900px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.menu-container {
  background: url("../src/assets/imgs/clouds-1.png") no-repeat center / cover;
}

.about-container {
  background: url("../src/assets/imgs/clouds-2.png") no-repeat center / cover;
  /* flex-direction: column; */
  /* justify-self: stretch; */
}

.menu-container > h1,
.about-container > h1 {
  width: 100%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, rgb(234, 236, 98), rgb(230, 233, 85));
  opacity: 0.95;
}

.menu-card,
.about-card {
  display: flex;
  flex: 1 1 180px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.95;
}

.menu-card:hover,
.about-card:hover {
  outline: 5px solid whitesmoke;
  opacity: 1;
}

.menu-card-1,
.menu-card-2,
.about-card-1 {
  background-image: linear-gradient(90deg, #bd6bb7, #A758A2);
}

.menu-card-3,
.menu-card-4,
.about-card-2 {
  background-image: linear-gradient(90deg, #759bca, #587BA7);
}

.menu-card-5,
.menu-card-6 {
  background-image: linear-gradient(90deg, #c49f72, #A78458);
}

.menu-card-7,
.menu-card-8 {
  background-image: linear-gradient(90deg, #73c578,#58A75D);
}

.menu-card-9,
.menu-card-10 {
  background-image: linear-gradient(90deg, #c57373,#a75858);
}

.menu-image,
.about-image {
  min-width: 140px;
  max-width: 220px;
}

.menu-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.about-card {
  flex: 1 1 auto;
}