@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-image: repeating-linear-gradient(45deg, rgb(234, 236, 98) 0px, rgb(234, 236, 98) 180px, rgb(236, 98, 224) 220px, rgb(236, 98, 224) 400px);
  background-attachment: fixed;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(20, 20, 20);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.65);
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

nav > button {
  padding: 10px 30px;
  margin: 0px 30px;
  border: 0;
  border-radius: 10px;
  font-size: 1.4rem;
}

nav > button:hover {
  outline: 3px solid whitesmoke;
}

.home-btn {
  background-color: rgba(189, 107, 121, 0.9);
}

.home-btn:hover {
  background-color: rgba(189, 107, 121, 1);
}

.menu-btn {
  background-color: rgba(107, 152, 189, 0.9);
}

.menu-btn:hover {
  background-color: rgba(107, 152, 189, 1);
}

.about-btn {
  background-color: rgba(114, 189, 107, 1);
}

.about-btn:hover {
  background-color: rgba(114, 189, 107, 1);
}

.home-container,
.menu-container,
.about-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 500px;
  max-width: 900px;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.home-container > h1,
.menu-container > h1,
.about-container > h1 {
  width: 100%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, rgb(234, 236, 98), rgb(230, 233, 85));
  opacity: 0.95;
}

.menu-card,
.about-card,
.home-card {
  display: flex;
  flex: 1 1 180px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.95;
}

.home-card {
  flex: 1 1 420px;
  padding: 20px;
}

.home-cake-card,
.home-place-card {
  justify-content: space-between;
}

.about-card {
  flex: 1 1 auto;
}

.menu-card:hover {
  outline: 4px solid whitesmoke;
  opacity: 1;
  transform: scale(1.05);
  transition-duration: 400ms;
}

.menu-card-1,
.menu-card-2,
.about-card-1,
.home-cake-card {
  background-image: linear-gradient(90deg, #bd6bb7, #A758A2);
}

.menu-card-3,
.menu-card-4,
.about-card-2,
.home-place-card {
  background-image: linear-gradient(90deg, #759bca, #587BA7);
}

.menu-card-5,
.menu-card-6 {
  background-image: linear-gradient(90deg, #c49f72, #A78458);
}

.menu-card-7,
.menu-card-8,
.home-bottom-card {
  background-image: linear-gradient(90deg, #73c578,#58A75D);
}

.menu-card-9,
.menu-card-10 {
  background-image: linear-gradient(90deg, #c57373,#a75858);
}

.home-image {
  min-width: 240px;
  max-width: 320px;
  border-radius: 10px;
}

.menu-image,
.about-image {
  min-width: 140px;
  max-width: 220px;
}

.about-image {
  border-radius: 10px;
}

.home-cake-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-cake-text {
  text-align: justify;
  font-size: 1.1rem;
}

.lillys {
  font-size: 1.3rem;
  font-weight: 800;
}

.home-place-info {
  padding-left: 20px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-place-text {
  text-align:justify;
  font-size: 1.1rem;
}

.menu-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.about-desc,
.about-email,
.about-phone {
  font-size: 1.1rem;
}

.home-bottom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-bottom-images {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  margin-bottom: -20px;
}

.home-bottom-info {
  font-size: 1.1rem;
}